{% extends "base.html.twig" %}

{% set pageName = "Landing page" %}

{% block title %}{{pageName}}{% endblock %}

{% block body %}

<p>
    <ul>
        <li><a href="{{ path('quote') }}">Provides a random quote</a></li>
        <li><a href="{{ path('api-deck') }}">JSON with sorted deck</a></li>

    </ul>
</p>



{% endblock %}