{% extends "base.html.twig" %}

{% set pageName = "Landing page" %}

{% block title %}{{pageName}}{% endblock %}

{% block body %}

<ul>
    <li><a href="{{ path('roll') }}">Roll</a></li>
    <li><a href="{{ path('dice') }}">Report</a></li>
</ul>

{% endblock %}