{% extends "base.html.twig" %}

{% block title %}About MVC{% endblock %}

{% block body %}
    <h1>About MVC</h1>
    <p>This is an about page for the dbwebb MVC course.</p>
    <p>The course content is centered around combining several web technologies that has been taught during the first year at BTH.</p>
    <p>Some technologies used will be PHP with symfony, twig, "good code standards", ORM, deploying and hosting pages.</p>
    <ul>
        <li><a href="https://dbwebb.se/kurser/mvc-v2">Course page on Dbwebb</a></li>
        <li><a href="https://github.com/dbwebb-se/mvc">Course page on github</a></li>
        <li><a href="https://github.com/dromar/mvc-2023">Daro15s github for MVC</a></li>
    </ul>
{% endblock %}