<nav class="header-nav">
    <ul>
        <li><a href="{{ path('presentation') }}">Presentation</a></li>
        <li><a href="{{ path('report') }}">Report</a></li>
        <li><a href="{{ path('about') }}">About MVC</a></li>
        <li><a href="{{ path('todo') }}">Todo</a></li>
    </ul>
</nav>
<div class="header-pic">
</div>