{% extends "base.html.twig" %}
{% set pageName = "Magic number" %}

{% block title %}{{pageName}}{% endblock %}

{% block body %}
    <p>Here I tried to generate the first 50 prime numbers, but my implementation requires more work so I will revisit this down the line.
    Your generated (probably) non-prime number is:</p>

    <div class="lucky-picture" style="background-image: url({{ asset('img/frame.jpg') }}"><span class="crazy">{{ primeNumber }}</span></div>
{% endblock %}